name: Despliegue a EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Despliegue EC2 en la rama Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Deploy to Server SrvOscar
        uses: easingthemes/ssh-deploy@main
        with:
          sshPrivateKey: ${{ secrets.EC2_SSH_KEY }}
          remoteHost: ${{ secrets.HOST_DNS }}
          remoteUser: ${{ secrets.USERNAME }}
          target: ${{ secrets.TARGET_DIR }}


